/OneDrive/Documentos/NetBeansProjects/JavaApplication7/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/JavaApplication7/build/
/OneDrive/Documentos/NetBeansProjects/JavaApplication7/dist/
/OneDrive/Documentos/NetBeansProjects/JavaSantiago/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/Isaaa/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/LuisAlandeteCara/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/JavaSantiago/build/
/OneDrive/Documentos/NetBeansProjects/JavaSantiago/dist/
/OneDrive/Documentos/NetBeansProjects/Isaaa/build/
/OneDrive/Documentos/NetBeansProjects/Isaaa/dist/
/OneDrive/Documentos/NetBeansProjects/LuisAlandeteCara/build/
/OneDrive/Documentos/NetBeansProjects/LuisAlandeteCara/dist/
/OneDrive/Documentos/NetBeansProjects/class/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/EjemploXChartAnt/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/EjemploXChartAnt/build/
/OneDrive/Documentos/NetBeansProjects/JavaApplication13/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/Modelo/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/Modelo/build/
/OneDrive/Documentos/RegistroPersonasGUI/JavaApplication/nbproject/private/
/OneDrive/Documentos/RegistroPersonasGUI/JavaApplication/build/
